@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

body {
  overflow-x: hidden;
}

header {
  width: 100vw;
  height: 8vh;
  flex-direction: column;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  border-bottom: solid black 1px;
  & nav {
    display: flex;
    width: 80vw;
    justify-content: space-between;
    align-items: center;

    & header img {
      display: inline-block;
      width: 150px;
    }
    & header ul {
      display: inline-block;
    }
    & ul li {
      display: inline-block;
      list-style-type: none;
      margin-inline-start: 20px;
      font-family: "Roboto";
    }
    span {
      width: 100px;
      height: 30px;
    }
  }
}

.mainHeader {
  margin-top: 8vh;
  overflow: hidden;
  height: 100%;
}

.section1 {
  width: 80vw;

  & h1 {
    font-size: 8rem;
    letter-spacing: -1px;
    font-weight: 500;
    font-family: "Spectral";
  }

  & div:first-child {
    width: 50vw;
  }
  & .middleText {
    margin-block: 3rem;
    font-size: 2rem;
    font-family: "Spectral";
  }

  & span {
    width: 200px;
    border-radius: 20px;
    border: solid #191919;
    background-color: #191919;
    color: white;
    font-family: "Spectral";
  }

  & img {
    width: 50vw;
    height: 100%;
    transform: translate3d(15vw, 0px, 0px);
  }
  & span p:last-of-type {
    font-family: "Roboto";
  }
}

.mainHeader {
  width: 100vw;
  border-bottom: solid black 1px;
}
/* universali ----------------------------------------- */

@keyframes fadeIn {
  0% {
    background-color: #ffc017;
  }
  100% {
    background-color: white;
  }
}
@keyframes fadeOut {
  0% {
    background-color: white;
  }
  100% {
    background-color: #ffc017;
  }
}
@keyframes fadeInButton {
  0% {
    background-color: #000000;
    border-color: #000000;
  }
  100% {
    background-color: white;
    border: white;
  }
}

@keyframes fadeOutButton {
  0% {
    background-color: white;
  }
  100% {
    background-color: #ffc017;
  }
}

.yellow {
  background-color: #ffc017;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  border-radius: 20px;
  border: solid;
  background-color: black;
  border-color: black;
  color: white;
  height: 30px;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flexCard {
  display: flex;
  align-items: center;
}

.centeredImage {
  vertical-align: middle;
}

.icon {
  border-radius: 50%;
  width: 1.5vw;
}

.width {
  width: 80vw;
}
/* ------------------------------------------------- */

.card {
  height: 100px;
  width: 21vw;
  font-family: "Roboto";
  margin-block: 20px;

  & :first-child {
    height: 120%;
    display: flex;
    justify-self: start;
    margin-inline-end: 0.5vw;

    & p {
      color: rgb(206, 204, 204);
      font-size: 3rem;
      font-weight: 600;
    }
  }

  :nth-child(2) {
    display: inline-block;

    & p:first-child {
      margin-bottom: 0.5rem;
      font-size: 0.7rem;
      font-weight: 600;

      & img {
        margin-inline-end: 0.5vw;
      }
    }

    & p:nth-child(2) {
      font-weight: 900;
      box-sizing: border-box;
      margin-bottom: 0.8rem;
      font-size: 1rem;
    }

    & p:nth-child(3) {
      color: grey;
      font-size: 0.7rem;
      display: flex;
      align-items: center;
      justify-self: start;

      & img {
        margin-inline-start: 0.5vw;
      }
    }
  }
}

.section2 {
  padding-block: 20px;
  width: 80vw;
  flex-direction: column;
  margin: auto;

  & .trending {
    margin-block-start: 20px;
  }

  & .trending img,
  & .trending p {
    display: inline-block;
    vertical-align: middle;
    font-weight: 600;
    font-family: "Roboto";
  }

  & .wrapper {
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(3, 1fr);
    & :nth-child(3n + 1) {
      justify-self: start;
    }
    & :nth-child(3n + 2) {
      justify-self: center;
    }
    & :nth-child(3n) {
      justify-self: end;
    }
  }
}

.section3 {
  position: relative;
  border-top: solid rgb(204, 203, 203) 1px;
  width: 100vw;

  font-family: "Roboto";

  & div:first-of-type {
    width: 80vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    & .secondWrapper {
      margin-top: 3rem;
      display: flex;
      flex-direction: column;

      & .greaterCard {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-block-end: 70px;
        width: 45vw;

        & div:first-of-type {
          width: 45vw;
          height: 8vw;

          & div:first-of-type {
            margin-right: 20px;
            flex-direction: column;
            display: flex;
            justify-content: space-between;

            & p:first-of-type {
              font-weight: 800;
              vertical-align: center;
            }

            & p:nth-of-type(2) {
              font-weight: 800;
              font-size: 1.3rem;
            }
            & p:nth-of-type(3) {
              font-size: 1rem;
              color: grey;
            }
            & p:last-child {
              width: 100%;
              font-size: 0.7rem;
              color: rgb(155, 152, 152);
              & span {
                display: inline-flex;
                color: white;
                padding: 7px;

                border-radius: 10px;
                background-color: rgb(231, 230, 230);
                color: rgb(129, 128, 128);
              }
              & img:last-of-type {
                float: right;
                vertical-align: center;
              }
            }
          }
        }
        & div:last-of-type {
          height: 100%;

          & div:last-of-type img {
            height: 8vw;
          }
        }
      }
    }
  }
  & .aside {
    top: 10vh;
    padding-top: 3rem;
    position: sticky;
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 24vw;
    box-sizing: border-box;

    & h3 {
      display: flex;
      justify-content: start;
      font-weight: 600;
    }
    & .tags {
      flex-wrap: wrap;
      width: 24vw;
      display: flex;
      margin-block: 50px;
      padding-block-end: 5vh;
      margin-block-end: 5vh;
      border-bottom: solid gray 1px;
      justify-content: start;

      & span p {
        padding: 10px;
        border: solid gray 1px;
        display: inline-block;

        margin: 0.2rem;
      }
    }
    .footer {
      width: 24vw;
      flex-wrap: wrap;
      display: flex;
      justify-content: start;
      & span p {
        padding-inline: 10px;
        display: inline-block;
        margin: 0.2rem;
      }
      padding-block-end: 5vh;
      margin-block-end: 5vh;
    }
  }
}

@keyframes fadeIn {
  0% {
    background-color: #ffc017;
  }
  100% {
    background-color: white;
  }
}
@keyframes fadeOut {
  0% {
    background-color: white;
  }
  100% {
    background-color: #ffc017;
  }
}
@keyframes fadeInButton {
  0% {
    background-color: #191919;
    border-color: #191919;
  }
  100% {
    background-color: #1a8917;
    border-color: #1a8917;
  }
}

@keyframes fadeOutButton {
  0% {
    background-color: #1a8917;
    border-color: #1a8917;
  }
  100% {
    background-color: #191919;
    border-color: #191919;
  }
}
